@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  background-color: #212121;
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: 'Roboto', sans-serif;
}

.MuiDrawer-paper {
  background-color: #3535354a !important;
  color: white !important;
  min-width: 180px;
}
